<a href="https://colab.research.google.com/github/YSHS-APCSP-2022/python-1-AWoodrome/blob/main/Copy_of_Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Task 1 - Basic Math

Python is a programming language that allows the devleopment of many desktop, web, scientific, and mathematical applications (apps). We will start exploring Python by doing some basic math.

1. Type in 3 + 5 into a new iPython code cell. Then click the "play" icon button on the left of the cell (or control+Enter) to run the code. What is the output?

In [ ]:
3+5

8

2. Type in 

```
2**3
```
  into a new iPython code cell. Then click the "play" icon button on the left 
  of the cell (or control+Enter) to run the code. What is the output? What 
  mathematical operation does the double asterisk signify?

In [ ]:
2**3

8

3. Type in 
```
5*4
```
into a new iPython code cell. Then click the "play" icon button on the left of the cell (or control+Enter) to run the code. What is the output? What mathematical operation does the single asterisk represent?

In [ ]:
5*4

20

4. Type in print(10/3) into a new iPython code cell. Then type in print(10/3.0) into another iPython code cell. What is the difference in the outputs? Why might this difference be important?

In [ ]:
10/3

3.3333333333333335

In [ ]:
10/3.0

3.3333333333333335

### Task 2 - Conditional Statements

Conditional statements are if...then statements that allow evaluation (true/false) of a statement. These conditional statements can be very powerful, as they allow you to dictate an or action in response to the conditions present.

For instance :



```
n = 3
if n > 0:
print "wow"

```

This conditional statement print "wow" to the console when the condition of n*2 > 1 is met. Play around with the code below to change the readout

In [ ]:
n = 3

if n*2 > 1:
  print("bonkers")

bonkers

Let's say that you want to have something print out even if the number is less than zero. We can add an else statement to the condition to facilitate this :

In [ ]:
n = 1

if n*2 > 1:
  print("bonkers")
else:

  print("zooped")

bonkers

### Challenges
1. Create a conditional statement that evaluates whether someone is old enough to vote. Make sure you have some readouts along with an if...else conditional statement.

2. Write a conditional statement evaluating whether two variables (x and y) are both greater than zero. Have a printout statement for a true and a false evaluation.

3. Create a conditional statement of your choice. Must include if...else statement, print statement, and a mathematical operation.

In [ ]:
 n=16

if n>=18:
  print("you are old enough to vote")
else:
  print("you can not vote")

you can not vote

In [ ]:
p=123456

if p==123456:
  print("logged in!")
else:
  print("banned")

logged in!

In [ ]:
n1=-1
n2=6

if n1+n2>0:
  print("greater than 0!")
else:
  print("lower than 0")

greater than 0!